<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleExecutable</key>
  <string>MRIcron</string>
  <key>CFBundleName</key>
  <string>MRIcron</string>
  <key>CFBundleIdentifier</key>
  <string>com.mricro.MRIcron</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleIconFile</key>
  <string>mricron.icns</string>
  <key>CFBundleSignature</key>
  <string>MRIc</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>CSResourcesFileMapped</key>
  <true/>
  <key>CFBundleDocumentTypes</key>
  <array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nii</string>
				<string>hdr</string>
				<string>nii.gz</string>
				<string>gz</string>
				<string>voi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NIfTI image</string>
			<key>CFBundleTypeIconFile</key>
			<string>mricron_doc.icns</string>
		</dict>
		<dict>
		  <key>CFBundleTypeRole</key>
		  <string>Viewer</string>
		  <key>CFBundleTypeExtensions</key>
		  <array>
			<string>*</string>
		  </array>
		  <key>CFBundleTypeOSTypes</key>
		  <array>
			<string>fold</string>
			<string>disk</string>
			<string>****</string>
		  </array>
		</dict>
  </array>
  <key>NSHighResolutionCapable</key>
  <true/>
</dict>
</plist>
